//- Navbar mixins
mixin nav(name, id)
    .navbar.navbar-default
      .container
        .navbar-header
            button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#" + id, aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/")= name
 
        .collapse.navbar-collapse( id=id )
            block
 
mixin nav_item(href, active)
    li(class=active): a( href=href )
        block
 
mixin nav_item_dropdown(href, active)
    li(class=["dropdown", active])
        a.dropdown-toggle( href=href, data-toggle="dropdown", role="button", aria-expanded="false" )= attributes.label
            span.caret
        ul.dropdown-menu( role="menu" )
            block
 
mixin nav_divider
    li.divider
 
mixin nav_header
    li.dropdown-header
        block
 
//- End navbar mixins
//- Form mixins
mixin option(value, selected)
    if selected
        option(value=value, selected)= value
    else
         option(value=value)= value

//- Template Mixins
mixin input_text(name, label, placeholder, required, value, type)
  .form-group
    label.control-label(for=name)= label
    input.form-control(name=name type=type?type:text placeholder=placeholder, value=value)

mixin input_textarea(name, label, placeholder, required, value)
  .form-group
    label.control-label(for=name)= label
    textarea.form-control(name=name type="text" placeholder=placeholder)= value

mixin select_options(name, label, options, required, selectedValue)
  .form-group
    label.control-label(for=name)= label
    select.form-control(name=name)
      option() Select an option...
      each val in options
          if selectedValue == val
            +option(val,true)
          else
            +option(val,false)

mixin input_mx(name, label, placeholder, required, value, type)
  .form-group
    label.control-label(for=name)= label
    input.form-control(name=name type=type?type:text placeholder=placeholder, value=value)


mixin alert_info(msg)
    .alert.alert-info.alert-dismissable(role="alert")
        button.close(type="button" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;
        = msg

mixin alert_warning(msg)
    .alert.alert-warning.alert-dismissable(role="alert")
        button.close(type="button" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;
        = msg
mixin alert_error(msg)
    .alert.alert-danger.alert-dismissable(role="alert")
        button.close(type="button" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;
        = msg

mixin alert_message_array ( messages )
    each m in messages
        if m.length
            +alert_info( m )

mixin alert_error_array ( errors )
    each e in errors
        if e.message
            +alert_error( e.message )
        else if e.length
            +alert_error( e )

mixin select_options(name, label, options, required, selectedValue)
  .form-group
    label.control-label(for=name)= label
    select.form-control(name=name)
      option() Select an option...
      each val in options
          if selectedValue == val
            +option(val,true)
          else
            +option(val,false)
mixin form_labels_row(label,value, css)
  div.form-group(class=css)
    label.col-sm-3.control-label= label + ":"
    div.col-sm-9
    p= value
