extends ./account-layout.jade
include ./includes/mixins.jade

block jumbo-desc
    p Your Account Details

block account-content
    h3 #{user.username}
    table.details
        tr
            td Name
            td #{user.fname} #{user.lname}
        tr
            td Email
            td #{user.email}
        tr
            td Badge Number
            td #{user.badge}
        tr
            td Section / Unit
            td #{user.sectunit}
        tr
            td Rank / Title
            td #{user.ranktitle}
        tr
            td Role
            td #{user.roleName()}
        tr
            td Agency
            td #{agency.name}

    p.lead Please contact your Agency administrator for changes to your
        | account details.
