extends ./admin-layout.jade


block jumbo-desc
    p Agency Directory


block admin-content
    - var route = '/admin/agency'

    table.table.table-striped
        thead
            tr
                th Name
                th Address
                th City
                th Zip
                th State
                th Phone
                th 
                th 
        tbody
            for agency in agencies
                tr
                    td  #{agency.name}
                    td  #{agency.address}
                    td  #{agency.city}
                    td  #{agency.zip}
                    td  #{agency.state}
                    td  #{agency.phone}
                    block tbody
                    td: a( href=route + "/edit/" + agency.id role="button" ) Edit
                    td: a.disabled( href="#" role="button" ) Delete

    a.btn.btn-default( href=route + "/create") Add New Agency
