extends layout


block jumbo
    .jumbotron
        .container
            h1 Be On the Lookout
            p Browse Active BOLOs


block content
    include ./partials/global-alerts.jade

    if bolos && 0 === bolos.length
        p.lead No active BOLOs at this time.

    .row
        for bolo in bolos
            div.col-sm-6.col-md-4
                div.thumbnail
                    if bolo.images.featured
                        img( src="/bolo/asset/" + bolo.id + "/featured" alt=bolo.images.featured style="height:300px")
                    else
                        img( src="/img/nopic.png" alt="no image" style="height: 300px" )
                    div.caption
                        h3 #{bolo.category} 
                            if bolo.status
                                small.text-danger #{bolo.status}
                        p <b>Updated</b> #{bolo.lastUpdatedOn}
                        p <b>Created</b> #{bolo.authorFName} #{bolo.authorLName}

                        a.btn.btn-default(href="/bolo/edit/" + bolo.id, role="button") Edit
                        a.btn.btn-default(href="/bolo/details/" + bolo.id, role="button") Details
                        a.btn.btn-danger(role="button", type="submit" class="archive-bolo", data-bid=bolo.id) Archive


    .row.text-center
        - var route = '/bolo'
        include ./partials/paging.jade
