extends layout


block jumbo
    .jumbotron
        .container
            h1 Archived BOLOs
            p Listing of BOLOs recently archived.

block content
    include ./partials/global-alerts.jade

    div.row
        for bolo in bolos
            div.col-sm-6.col-md-4
                div.thumbnail
                    if bolo.data.attachments
                        - var keys = Object.keys( bolo.data.attachments )
                        img(src="/bolo/asset/" + bolo.data.id + "/" + keys[0] alt="" style="height:300px")
                    div.caption
                        h3 #{bolo.category}
                        p #{bolo.enteredDT}
                        p Author: #{bolo.firstName} #{bolo.lastName}
                        p.text-danger.strong Updated on: #{bolo.lastUpdatedOn}
                        p
                            a.btn.btn-default(role="button", type="submit" class="restore-bolo" id=bolo.id) Restore
                            a.btn.btn-danger(role="button", type="submit" class="delete-bolo", id=bolo.id) Delete

   - var n = 1
   div.text-center
       ul.pagination
           while n <= paging.pages
               - var page = n++
                   if page == paging.currentPage
                       li.active
                           a(href="/bolo/archive?page=" + page)= page
                   else
                       li
                           a(href="/bolo/archive?page=" + page)= page
