include includes/mixins
include includes/mixins
extends layout


block jumbo
  .jumbotron
    .container
        if agency
          h1 Edit an Agency
          p Fill out the form to submit and update an existing agency
        else
          h1 Create an Agency
          p Fill out the form and submit to create a new sadas agency.
block content
  //- Dropdown Box Selections
  -
    var states = [
      "AL",
      "AK",
      "AZ",
      "AR",
      "CA",
      "CO",
      "CT",
      "DE",
      "DC",
      "FM",
      "FL",
      "GA",
      "HI",
      "ID",
      "IL",
      "IN",
      "IA",
      "KS",
      "KY",
      "LA",
      "ME",
      "MD",
      "MA",
      "MI",
      "MN",
      "MS",
      "MO",
      "MT",
      "NE",
      "NV",
      "NH",
      "NJ",
      "NM",
      "NY",
      "NC",
      "ND",
      "MP",
      "OH",
      "OK",
      "OR",
      "PW",
      "PA",
      "RI",
      "SC",
      "SD",
      "TN",
      "TX",
      "UT",
      "VT",
      "VI",
      "VA",
      "WA",
      "WV",
      "WI",
      "WY"
    ]
  //- Actual Form
  form#create-agency(action=agency?"/agency/edit/" + agency.data.id:"/agency/create" enctype="multipart/form-data" method="post")
    +input_mx("name", "Agency Name", "", false, agency?agency.data.name:"")
    +input_mx("address", "Address", "", false,  agency?agency.data.address:"")
    +input_mx("city", "City", "", false,  agency?agency.data.city:"")
    +select_options("state", "State", states, false, agency?agency.data.state : "")
    +input_mx("zip", "Zip Code", "", false,  agency?agency.data.zip:"")
    +input_mx("phone", "Phone Number", "", false, agency?agency.data.phone:"")
    input(name="id" type="hidden" value=agency?agency.data.id:"")
    .form-group
      label.control-label(for="image_upload") Logo Attachment
      div#form-add-img-group
        input(name="logo_upload" type="file" accept="image/*")
    .form-group
      label.control-label(for="image_upload") Shield Attachment
      div#form-add-img-group
        input(name="shield_upload" type="file" accept="image/*")
    .form-group
      button.btn.btn-primary(type="submit" value="save") Submit
      
  .container
    h2 Attached Images
    ul.list-group
      if agency && agency.data.attachments
        -var index = 0
        each val, key in agency.data.attachments
          li.list-group-item
            if index == 0
             label="Logo:"
            else
              label="Shield:"
             a(href="/agency/asset/" + agency.data.id + "/" + key)= key
          -index++