extends admin-layout

block jumbo-desc
    p User Details

block admin-content
    h3 #{user.data.username}
    table.details
        tr
            td Name
            td #{user.data.fname} #{user.data.lname}
        tr
            td Email
            td #{user.data.email}
        tr
            td Badge Number
            td #{user.data.badge}
        tr
            td Section / Unit
            td #{user.data.secunit}
        tr
            td Rank / Title
            td #{user.data.ranktitle}
        tr
            td Role
            td #{user.roleName()}

    - var resource = "/admin/users/" + user.data.id
    a.btn.btn-default(href=resource + "/edit-details") Edit Account Details
    a.btn.btn-default(href=resource + "/reset-password") Reset Password
    a.btn.btn-danger(href=resource + "/delete") Delete User
